{% extends 'posts/base.html' %}

{% block content %}
    {% for question in questions %}

        <div class="post">
            <div class="date">
                {{ question.published_date }}
            </div>

            <h1><a href="{% url 'question_detail' pk=question.pk %}">{{ question.text }}</a></h1>
            <p>{{ question.details|linebreaksbr }}</p>
            <h2>Answers</h2>
            {% for answer in answers %}
              {% if answer.question.text == question.text %}
                <p>{{ answer.text|linebreaksbr }}</p>
              {% endif %}
            {% endfor %}
        </div>

    {% endfor %}
{% endblock content %}
