{% extends 'posts/base.html' %}

{% block content %}

        <div class="post">
          {% if question.published_date %}
              <div class="date">
                  {{ question.published_date }}
              </div>
          {% endif %}
          {% if user.is_authenticated %}

          {% endif %}
          <h1>{{ question.text }}</h1>
          <a href="{% url 'add_answer' pk=question.pk %}">Add answer</a>
          <p>{{ question.details|linebreaksbr }}</p>
          <h2>Answers</h2>
          {% for answer in answers %}

              <p>{{ answer.text|linebreaksbr }}</p>

          {% endfor %}
        </div>

{% endblock content %}
